<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xsy.ssm.mapper.EmployeeMapper">

    <!--List<Employee> getAllEmployee();-->
    <select id="getAllEmployee" resultType="Employee">
        select * from t_emp
    </select>
    <select id="get" resultType="Employee">
        select * from t_emp where emp_id=#{empId}
    </select>

    <insert id="addEmployee" >
        insert into t_emp value(null,#{empName},#{age},#{gender},#{email})
<!--        <foreach collection="employee" item="emp" separator=",">-->
<!--            (null,#{emp.empName},#{emp.age},#{emp.gender},#{emp.email})-->
<!--        </foreach>-->
    </insert>

    <delete id="deleteEmployee">
        delete from t_emp where emp_id = #{empId}
    </delete>

    <update id="updateEmployee">
        update t_emp set emp_name=#{empName}, age=#{age}, gender=#{gender}, email=#{email}
                     where emp_id=#{empId}
    </update>

</mapper>